body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    background-color: grey;
    padding: 25px;
    box-sizing: border-box;
}
.square {
    height: 50px;
    width: 50px;
    background-color: #004e89;
    position: relative;
}
.text {
    padding: 50px;
}
.row-1 {
    width: 100%;
    height: 200px;
    background-color: #004e89;
}
.row-2 {
    width: 100%;
    height: 200px;
    background-color: #9bf3f0;
}
.row-3 {
    width: 100%;
    height: 200px;
    background-color: #adfc92;
}
.row-4 {
    width: 100%;
    height: 200px;
    background-color: yellow;
}
.question-mark {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.question-mark button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 25px;
}
